#msg-box4-g .mbr-header__text {
  color: #ffffff;
}
#msg-box4-g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-g .mbr-article {
  color: #ffffff;
}
#content5-7 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-article {
  color: #fff;
}
#content5-7 .mbr-article P {
  font-size: 17px;
}
#msg-box5-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #ffffff;
}
#msg-box3-e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts2-4 P {
  text-align: left;
}
